@model CarsInventory.Entities.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hirer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hirer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
